* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(185, 185, 185);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

article.card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 35rem;
    background-color: white;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.3);
}

article.card > figure {
    flex: 1;
    background-color: rgb(255, 184, 31);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 2rem;
    /* Added herere */
    padding: 0 2rem;
}

article.card > figure > img {
    width: 100%;
    height: auto;
    /* Was here */
    /* padding: 2rem; */
}

article.card > section {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* width: 80%; */
    /* margin: auto; */
    padding: 0 2rem;
}

article.card > section > h2 {
    font-size: 1.6rem;
}

article.card > section > h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.card > section > aside {
    font-size: 1.8rem;
    font-weight: 800;
    margin: auto 0 2rem auto;
}

.card > section > aside::after {
    content: "sek"
}