* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(185, 185, 185);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

article.card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 35rem;
    background-color: white;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.3);
}

article.card > figure {
    flex: 1;
    background-color: rgb(255, 184, 31);
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-direction: column;
    margin-bottom: 2rem;
}

article.card > figure > img {
    width: 100%;
    height: auto;
    margin: auto 0; 
    padding: 2rem;
}

figure > .caption {
    align-self: flex-end;
    margin: 0 0.8rem 0.8rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.35);
}

article.card > section {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 2rem;
}

article.card > section > h2 {
    font-size: 1.6rem;
}

article.card > section > h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.card > section > aside {
    margin: auto 0 2rem auto;
}

.card > section > aside > .price {
    font-size: 1.8rem;
    font-weight: 800;
}

/* .card > section > aside::after {
    content: "sek";
} */