* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(185, 185, 185);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    width: 50rem;
    height: 25rem;
    background-color: white;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

/* Padding on the container, instead of elements inside so flex: 1; is 
consistent for both figure and section container */
.card > figure.product-image {
    background-color: rgb(255, 184, 31);
    display: flex;
    padding: 3rem;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

figure.product-image > img {
    width: 100%;
    height: auto;
    margin-top: auto;
}

figure.product-image > figcaption.price {
    font-size: 1.9rem;
    font-weight: 600;
    margin: auto 0 0 auto; 
}

section.product-details {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    padding: 3rem;
}

section.product-details > h2 {
    font-size: 2rem;
    font-weight: 800;
    margin-top: 1rem;
}

section.product-details > h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

section.product-details > p {
    font-size: 0.9rem;
}

section.product-details > button {
    padding: 0.6rem 1rem;
    font-weight: 800;
    border: 2px solid black;
    background-color: white;
    margin: auto 0 0 auto;
    cursor: pointer;
}

section.product-details > button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}